.field input, form button, select{
	border-radius: 10px!important;
}
.lostpassword-message{
	width: 100%;
	display:inline-block;
	text-align: center;
	color:#00d25b;
	font-size:13px;
}
.lostpassword-message-error{
	color:red;
}
.logo img{
	width: 100px;
}
.text-danger{
	color:#B12C00;
}
.field input:focus {
    background-color: #F6F6F6!important;
}
input[type=text]:focus {
  background-color: #F6F6F6!important;
}